# SQL and SQLLite

In the data analysis/science field it is important to point out that sql databases are compatable with python and can be explored using it.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('dbs/example.db')
connection

In [3]:
# here we create a pointer to execute the statements for the database
cursor = connection.cursor()

In [7]:
# create table example table, which is using simple SQL language
cursor.execute('''
    CREATE TABLE IF NOT EXISTS 
               EMPLOYEES(
                ID Integer Primary Key,
                name Text not null,
                age Integer, 
                departament text
               )
''')

In [8]:
# this statement is only in the pending area so afterwards we need to commit it
connection.commit()

In [10]:
cursor.execute('''
    SELECT *
    FROM EMPLOYEES
''')
# since the table has only been created this will not fetch anything, thus we need to provide some data

In [14]:
cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES ('Krish',32,'Data Scientist')
               ''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
            ''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
            ''')
# one more important note that before commiting, with cursor we are creating a temp db file, that contains the changes in the staging area

In [15]:
connection.commit()

In [25]:
# now we can fetch data from the table and see how it looks now 
cursor.execute('SELECT * FROM EMPLOYEES')
rows = cursor.fetchall()

# and then we can print out the values that are inserted
for row in rows:
    print(row)
# we can see taht we didnt even provide the id row for our records, but still it was inserted since its a primary key

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 21, 'Finance')

In [22]:
# update the data in the table
cursor.execute('''
UPDATE employees
Set age=21
where ID = 3
''')

connection.commit()

In [24]:
# delete the data from the table
cursor.execute('''
Delete from employees
               where ID > 3
''')

connection.commit()

In [30]:
# important to note that these statements are just as an example, but they can be optimised

conn_sales = sqlite3.connect('dbs/sales_data.db')
cursor = conn_sales.cursor()

# creating table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# for more optimised insert statements we can use nested lists
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

# and then this can be used for multiple inserts to the table
cursor.executemany('''
    INSERT INTO sales(date, product, sales, region)
            VALUES(?, ?, ?, ?)
''', sales_data)

conn_sales.commit()

In [31]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')

In [32]:
# close the connection 
conn_sales.close()