# Introduction To Lists

#### Lists are ordered, mutable collections of items.
#### They can contain items of different data types.
### Video Outline:

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [2]:
lst = []

print(type(lst))

<class 'list'>

In [6]:

names = ['James','Jack','Donte']

print(names)

['James', 'Jack', 'Donte']

In [7]:

names = ['James','Jack',123,True]

print(names)

['James', 'Jack', 123, True]

In [9]:
### accesing list elemts 

fruits = ['Apple','banana','cherry','kiwi','gauva']

In [16]:
print(fruits[0])

print(fruits[2])

print(fruits[-1])

Apple
cherry
gauva

In [27]:
fruits[0:3]
print(fruits[:-4])
print(fruits[1:-1])

['Apple']
['banana', 'cherry', 'kiwi']

In [28]:
## modifieng list elements

fruits

['Apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [29]:
fruits[1]='watermelon'

In [30]:
fruits

['Apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [31]:
fruits[1:] = 'watermelon'

In [32]:
print(fruits)

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [57]:
fruits = ['Apple','banana','cherry','kiwi','gauva']

In [ ]:
## list methods

In [34]:
fruits.append('orange')

In [61]:
print(fruits)

['gauva', 'kiwi', 'cherry', 'banana', 'Apple']

In [40]:
fruits.remove('gauva')

In [36]:
fruits.insert(1,'strawberry')

In [41]:
print(fruits)

['Apple', 'strawberry', 'banana', 'cherry', 'kiwi', 'orange']

In [42]:
# remove and return the last element

popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

orange
['Apple', 'strawberry', 'banana', 'cherry', 'kiwi']

In [44]:
fruits.index('kiwi')

4

In [45]:
fruits.insert(3,'banana')

In [47]:
print(fruits.count('banana'))

2

In [64]:
# this will sort the list in assc order
fruits = ['Apple','banana','cherry','kiwi','gauva']

fruits.sort()

In [65]:
print(fruits)

['Apple', 'banana', 'cherry', 'gauva', 'kiwi']

In [66]:
fruits.reverse()

None

In [67]:
print(fruits)

['kiwi', 'gauva', 'cherry', 'banana', 'Apple']

In [69]:
numbers = [1,2,3,4,5,6,7,8,9]

numbers[2:3]
numbers[::2]

[1, 3, 5, 7, 9]

In [72]:
#itering over list 

for num in numbers[::2]:
    print(num)

1
3
5
7
9

In [74]:
for index,num in enumerate(numbers):
    print(index,'this is index')
    print(num,'this is number')

0 this is index
1 this is number
1 this is index
2 this is number
2 this is index
3 this is number
3 this is index
4 this is number
4 this is index
5 this is number
5 this is index
6 this is number
6 this is index
7 this is number
7 this is index
8 this is number
8 this is index
9 this is number

In [80]:
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Comprehension

1. Basics Syantax              [expression for item in iterable]

2. with conditional logic      [expression for item in iterable if condition]

3. Nested List Comprehension   [expression for item1 in iterable1 for item2 in iterable2]

In [83]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [88]:
# you can define even numbers as onelines 
even_numbers = [x for x in range(10) if x%2==0]

print(even_numbers)

[0, 2, 4, 6, 8]

In [94]:
# you can also pair list value inbetween

lst1 = ['1', '2', '3']
lst2 = ['a', 'b','c']

pair = [[i,j] for i,j in zip(lst1,lst2)]
all_combinations = [[i,j] for i in lst1 for j in lst2]

print(pair)
print(all_combinations)

[['1', 'a'], ['2', 'b'], ['3', 'c']]
[['1', 'a'], ['1', 'b'], ['1', 'c'], ['2', 'a'], ['2', 'b'], ['2', 'c'], ['3', 'a'], ['3', 'b'], ['3', 'c']]

In [96]:
# list comprehensions with function calls

words = ['house', 'python', 'list', 'name']
lenghts_words = [len(word) for word in words]
print(lenghts_words)

[5, 6, 4, 4]

# Tuples

video outline:
1. Intro tu tuples
2. creating tuples
3. accessing tuple elements
4. tuple operations
5. tuple methods 
6. packing and unpacking tuples
7. nested tuples
8. practical examples

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different

In [98]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [99]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [106]:
mixed_tuple = (1,'hello world',1,33.3,True)
print(mixed_tuple)

(1, 'hello world', 1, 33.3, True)

accessing tuple elements are very similar to accesing list elements

In [114]:
mixed_tuple[1]

'hello world'

In [115]:
mixed_tuple[::-1]

(True, 33.3, 1, 'hello world', 1)

In [116]:
numbers = (1,2,3,4)

In [118]:
# tuple operations

concatinated_tpls = mixed_tuple + numbers
print(concatinated_tpls)

(1, 'hello world', 1, 33.3, True, 1, 2, 3, 4)

In [119]:
numbers * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [120]:
## immutable nature of tuples 
## tuples are immutable, meaning their elements cannot be changed once assigned

lst = [1,2,3]
print(lst)

lst[1] = 'name'
print(lst)

[1, 2, 3]
[1, 'name', 3]

In [124]:
numbers = (1,2,3,1,1)
numbers[-1] = 'name'

TypeError: 'tuple' object does not support item assignment

In [127]:
# some notable methods

print(numbers.count(1))
print(numbers.index(1)) # finds the first one

3
0

bcs of dynamical execution we have 3 ones instead of 1

In [128]:
# packing

packed_tpl = 1,2,'hello world'
print(packed_tpl)

(1, 2, 'hello world')

In [132]:
# unpacking

a,b,c = packed_tpl

print(a)
print(b)
print(c)

#or 

for i in [a,b,c]:
        print(i)

1
2
hello world
1
2
hello world

In [134]:
# unpacking with *

numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(*middle)

2 3 4 5

In [136]:
# nested list and tuples

lst = [[1.3,3,5],['heelo','hheell','hello'],[True, False]]
tpl = ((1,2,3), ('heelo','hheeell','hello'),(True, False))

In [139]:
lst[0][::3]

[1.3]

In [143]:
# accesing elemts in tuple
print(tpl[2][0])

True

In [146]:
# iterating over nested tuples 
for sub_tuple in tpl:
    for item in sub_tuple:
        print(item,end=" ")

1 2 3 heelo hheeell hello True False

# sets

Sets are built-in data type in Python used to store collections of unique items.

They are unordered, meaning that the elements do not follow a specific order, and they dont allow for duplcates. 

Sets are usefull:
1. membership test;
2. eliminating duplicate entries;
3. performing mathematical set operations like union, intersection, different and symmetric difference

In [198]:
my_set = {1,2,3,4,5}
my_set
print(type(my_set))

<class 'set'>

In [150]:
my_empty_set = set()
my_empty_set = set([i for i in range(6)])
my_empty_set

{0, 1, 2, 3, 4, 5}

In [158]:
my_set.add(6)
my_set.add(-1)
print(my_set)

{1, 2, 3, 4, 5, 6, -1}

In [ ]:
my_set.remove(2)
print(my_set)

KeyError: 2

In [161]:
my_set.discard(2)

In [162]:
print(my_set)

{1, 3, 4, 5, 6, -1}

In [165]:
my_set.pop()
print(my_set)

{4, 5, 6, -1}

In [167]:
my_set.clear()
print(my_set)

set()

In [173]:
my_set = set([i for i in range(10) if i%2==0])

In [174]:
print(my_set)

{0, 2, 4, 6, 8}

In [175]:
print(3 in my_set)

False

In [176]:
print(4 in my_set)

True

In [182]:
even = set([i for i in range(11) if i%2==0])
odd = set([i for i in range(11) if i%2!=0 or i==10])

In [183]:
union = even.union(odd)
inter = even.intersection(odd)
upd = even.intersection_update(odd)

print(union)
print(inter)
print(upd)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{10}
None

In [187]:
print(even.difference(odd))

set()

In [192]:
a_set = set([i for i in range(0,7)])
b_set = set([i for i in range(3,9)])
print(a_set)
print(b_set)

{0, 1, 2, 3, 4, 5, 6}
{3, 4, 5, 6, 7, 8}

In [193]:
a_set.symmetric_difference_update(b_set)

In [194]:
print(a_set)
print(b_set)

{0, 1, 2, 7, 8}
{3, 4, 5, 6, 7, 8}

In [195]:
text = "in this tutorial we are look over sets and sets"

words = text.split()

unique_words = set(words)

print(words)
print(unique_words)

['in', 'this', 'tutorial', 'we', 'are', 'look', 'over', 'sets', 'and', 'sets']
{'tutorial', 'sets', 'in', 'and', 'are', 'over', 'we', 'look', 'this'}

# dictionaries

### video outline:
1. intro to dicts
2. creating dictionaries
3. accesing elements of dicts
4. modifying elements in dicts
5. iterating over dicts
6. nested dictionaries
7. dictionary comprehensions
8. practical examples

In [196]:
## creating dicts 

empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [199]:
student = {
    'name': 'domas',
    'age': 32,
    'grade': 23,
}

In [200]:
print(type(student))

<class 'dict'>

In [201]:
student = {
    'name': 'domas',
    'age': 32,
    'name': 23,
}
print(student)

{'name': 23, 'age': 32}

In [205]:
## accesing dictionary elements 

print(student['age'])
print(student.get('age'))
print(student.get('last_name','notfound'))

32
32
notfound

In [207]:
# modifying elements of dics

student['age'] = '33'
print(student)
student['country'] = 'Latvia'
print(student)

{'name': 23, 'age': '33'}
{'name': 23, 'age': '33', 'country': 'Latvia'}

In [208]:
del student['age']
print(student)

{'name': 23, 'country': 'Latvia'}

In [209]:
student_copy = student

In [210]:
print(student)
print(student_copy)

{'name': 23, 'country': 'Latvia'}
{'name': 23, 'country': 'Latvia'}

In [211]:
student['name'] = 'kaspars'
print(student)
print(student_copy)

{'name': 'kaspars', 'country': 'Latvia'}
{'name': 'kaspars', 'country': 'Latvia'}

this provides a different memory storage type

In [212]:
stundet_copy_func = student.copy()

In [214]:
student['name'] = 'rolands'
print(student)
print(stundet_copy_func)

{'name': 'rolands', 'country': 'Latvia'}
{'name': 'kaspars', 'country': 'Latvia'}

In [215]:
for keys in student.keys():
    print(keys)

name
country

In [216]:
for values in student.values():
    print(values)

rolands
Latvia

In [218]:
for key,value in stundet_copy_func.items():
    print(f'{key}:{value}')

name:kaspars
country:Latvia

In [219]:
# nested dictionaries

students = {
    'student1' : {'name':'rolands','age':23,'country':'latvia'},
    'student2' : {'name':'krish','age':33,'country':'india'}
}

In [225]:
students.items()

dict_items([('student1', {'name': 'rolands', 'age': 23, 'country': 'latvia'}), ('student2', {'name': 'krish', 'age': 33, 'country': 'india'})])

In [227]:
students['student2']['country']

'india'

In [229]:
for student_id, student_info in students.items():
    print(f'{student_id}:{student_info}')
    for key, values in student_info.items():
        print(f'{keys}:{values}')

student1:{'name': 'rolands', 'age': 23, 'country': 'latvia'}
country:rolands
country:23
country:latvia
student2:{'name': 'krish', 'age': 33, 'country': 'india'}
country:krish
country:33
country:india

In [233]:
# dictionary comprehension

squares = {f'{x}': x**2 for x in range(10) if x%2==0}
print(squares)

{'0': 0, '2': 4, '4': 16, '6': 36, '8': 64}

In [236]:
## Practical Examples

## USe a dictionary to count the frequency of elements in list

numbers = [1,2,2,3,1,1,1,3,2,2,3,4]
freq = {}

for i in numbers:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1

print(freq)

{1: 4, 2: 4, 3: 3, 4: 1}

In [239]:
#mergin two dictionaries together

dict1 = {'a':1, 'b':2}
dict2 = {'a':2, 'b':3, 'c':4}

merged_dict = {**dict1,**dict2}

In [240]:
print(merged_dict)

{'a': 2, 'b': 3, 'c': 4}

# Practical examples

### 1 example

In [10]:
to_do_list = ['buy groceries', 'clean the house','pay bills']

# adding tasks
to_do_list.append('schedule a meeting')
to_do_list.append('go for a run')

## removing a completed task
to_do_list.remove('clean the house')

#checking if a task is in a list
if 'pay bills' in to_do_list:
    print('dont forget to pay your bills')

print('remaining things to do:')
for i in to_do_list:
    print(f'-{i}')

dont forget to pay your bills
remaining things to do:
-buy groceries
-pay bills
-schedule a meeting
-go for a run

### 2 example

In [11]:
inventory = ['apples','bananas','orange','grapes']

#adding a new item 
inventory.append('strawberries')

#removal of an item
inventory.remove('orange')

#checking if in stock
if 'orange' in inventory:
    print('we have oranges')
else:
    print('we are out of oranges')

we are out of oranges