# simple functions

### video outline:

1. intro to functions
2. defining functions
3. calling functions
4. function params
5. default parameters
6. variable-lenght arguments
7. return statement

In [1]:
def function_name(parameters):
    """docstring"""
    #function body
    return #expression

In [2]:
num = 24

if num%2==0:
    print('number is even')
else:
    print('number is odd')

number is even

In [4]:
def even_or_odd(num):
    """this function finds if the number is odd or even"""
    if num%2==0:
        print('number is even')
    else:
        print('number is odd')

In [5]:
even_or_odd(4)

number is even

In [8]:
## function with string defaults

def greet(name='guest'):
    print(f'hello {name}, welcome')

greet('domas')

hello domas, welcome

In [9]:
greet()

hello guest, welcome

In [10]:
# function with multiple params

def add(a,b):
    return a+b

add(1,2)

3

In [11]:
# variable lenght arguments
# positional and keywords arguments

def print_numbers(*name):
    for number in name:
        print(number)

In [12]:
print_numbers(1,2,3,4,5,6,6,7,'hello',True)

1
2
3
4
5
6
6
7
hello
True

In [13]:
# positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [14]:
print_numbers(1,2,3,4,5,6,6,7,'hello',True)

1
2
3
4
5
6
6
7
hello
True

In [15]:
# keyword arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [16]:
print_details(name='rolands',country='india',age=22)

name:rolands
country:india
age:22

In [18]:
def printing_details(*args, **kwargs):
    for val in args:
        print(f'this is positional argument {val}')
    
    for key,value in kwargs.items():
        print(f'keyword argument, {key}:{value}')

In [20]:
printing_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

this is positional argument 1
this is positional argument 2
this is positional argument 3
this is positional argument 4
this is positional argument Krish
keyword argument, name:Krish
keyword argument, age:32
keyword argument, country:India

In [26]:
# return and multiple return statements

def multiply(a,b):
    return print(f'first number - {a}, second number - {b}, multiplied they combine for {a*b}')

multiply(2,3)

first number - 2, second number - 3, multiplied they combine for 6

# example for functions

### Example 1: Temperature Conversion

In [33]:
def convert_temp(temp,unit):
    """check in which unit we receive and then return the opposite"""
    if unit == 'C':
        return print(f'{temp} is in C, and converted to F is {temp*9/5+32}')
    elif unit == 'F':
        return print(f'{temp} in F, and in C is {(temp-32)*5/9}')
    else:
        print('unit was not found')

In [34]:
convert_temp(25,'C')

25 is in C, and converted to F is 77.0

### Example 2: Password Strength Checker

In [37]:
def is_strong_password(pw):
    if len(pw) < 8:
        return False
    if not any(char.isdigit() for char in pw):
        return False
    if not any(char.islower() for char in pw):
        return False
    if not any(char.isupper() for char in pw):
        return False
    if not any(char in '!@#$%^.' for char in pw):
        return False
    else:
        return True

In [38]:
is_strong_password('laikas123.Ld')

True

### Example 3: Calculate the Total Cost Of Items In a Shopping Cart

In [40]:
cart = [
    {'product':'banana', 'price':3.2, 'quantity':2},
    {'product':'orange', 'price':2.3, 'quantity':3},
    {'product':'guava', 'price':5.3, 'quantity':4}
]


def calculate_total(items):
    total_cost = 0
    for i in items:
        total_cost =+ i['price'] * i['quantity']
    
    return total_cost

In [41]:
calculate_total(cart)

21.2

### Example 4: Check IF a String Is Palindrome

In [57]:
name = 'Rolands'

name[::-1]


def is_palindrome(str):
    str = str.lower().replace(" ", "")
    rev_str = str[::-1]
    return str==rev_str

In [58]:
is_palindrome('Madam')

True

### Example 5: Calculate the factorials of a number using recursion

In [59]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

In [60]:
print(factorial(6))

720

### Example 6: A Function To Read A File and count the frequency of each word

In [64]:
def word_freq(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!@#$%;"/')
                word_count[word] = word_count.get(word,0)+1
    
    return word_count

In [65]:
word_freq(file_path='simple.txt')

{'hello': 1,
 'here': 1,
 'we': 1,
 'are': 2,
 'looking': 1,
 'into': 1,
 'some': 1,
 'random': 2,
 'examples': 1,
 'of': 1,
 'python': 1,
 'that': 1,
 'super': 1}

### Example 7: Validate Email Address

In [42]:
import re

def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

In [ ]:
print(is_valid_email("test@example.com"))

# lambda functions

In [66]:
# syntax
lambda arguments: expression

In [72]:
# simple function definition

def addition_def(x,y):
    return x+y

In [73]:
addition_def(5,6)

11

In [74]:
# same can be rewriten as a lambda function

addition = lambda a,b : a+b
type(addition)

function

In [75]:
addition(5,6)

11

In [77]:
# basically any function can be redone as a lambda function

def even(num):
    if num%2==0:
        return True

In [78]:
even(24)

True

In [79]:
even_lam = lambda num : num%2==0

even_lam(2)

True

In [80]:
def addition(x,y,z):
    return x+y+z

In [81]:
addition(12,13,14)

39

In [82]:
addition_lam = lambda x,y,z : x+y+z

In [83]:
addition_lam(12,13,14)

39

# map function

In [87]:
# example of map
# map() applies a function to all items in a list

numbers = [1,2,3,4,5,6]

def square(x):
    return x**2

square(2)

4

In [89]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [88]:
list(map(square, numbers))

[1, 4, 9, 16, 25, 36]

In [95]:
# this works with multiple iterables aswell
# in the definition of maps - iterables variable has a *, suggesting it can handle multiple variables

numbers1 = [1,2,3]
numbers2 = [4,5,6]
numbers3 = [0,0,3]

added_numbers = list(map((lambda x,y,z: x+y+z), numbers1, numbers2, numbers3))

In [96]:
print(added_numbers)

[5, 7, 12]

In [100]:
# map can be used to change the datatypes of different data

str_nums = ['1','2','3','4','5']
print(type(str_nums[1]))

int_nums = list(map(int,str_nums))

print(int_nums)
print(type(int_nums[1]))

<class 'str'>
[1, 2, 3, 4, 5]
<class 'int'>

In [101]:
words = ['apple', 'name', 'rolands']

upper_word = list(map(str.upper, words))
# str can be referenced as a base for making string operations 

print(upper_word)

['APPLE', 'NAME', 'ROLANDS']

In [104]:
def get_name(person):
    return person['name']

ppl = [
    {'name':'Jack', 'age':32},
    {'name':'Rolands', 'age':22}
]

# this can be utilized if want to transform nested list values as columns
list(map(get_name,ppl))

['Jack', 'Rolands']

# filter function

In [105]:
even(24)

True

In [108]:
numbers = [1,2,3,4,5,6,7,8,9,11,23,44]

list(filter(even, numbers))
# so if want to skip the iteration through the whole list filter can be used

[2, 4, 6, 8, 44]

In [116]:
# this can be used with lambda aswell

filter_conditions = list(filter((lambda x: x>15 and x%2==0), numbers))
print(filter_conditions)

[44]

In [119]:
# applying filters is possible in dictionaries aswell

ppl = [
    {'name':'Jack', 'age':32},
    {'name':'Rolands', 'age':22},
    {'name':'John', 'age':33}
]

def age_greater_25(x):
    return x['age'] > 25

list(filter(age_greater_25, ppl))
# here we are receiving the whole nested list element

[{'name': 'Jack', 'age': 32}, {'name': 'John', 'age': 33}]